# 객체와 변수

In [ ]:
# 100 객체(값)이 num이라는 변수에 할당되었다.
num = 100

In [1]:
# x에 100 y에 200을 넣음
x = 100
y = 200

In [3]:
# 전체 변수 보기
%whos

Variable   Type    Data/Info
----------------------------
x          int     100
y          int     200

In [7]:
# z에 x+y를 설정
z = x+y

In [ ]:
z

In [5]:
# x의 코드값
id(x)

1716743424

In [ ]:
id(y)

In [8]:
%whos

Variable   Type    Data/Info
----------------------------
x          int     100
y          int     200
z          int     300

In [9]:
name = '현윤섭'
email = 'axamun96@naver.com'
phone = '01057783694'

In [10]:
%whos

Variable   Type    Data/Info
----------------------------
email      str     axamun96@naver.com
name       str     현윤섭
phone      str     01057783694
x          int     100
y          int     200
z          int     300

In [11]:
print = '출력하고싶어'

In [12]:
a = 10

In [13]:
aA =30

In [14]:
man='남자'
woman='여자'
hungry='배고파'

In [15]:
Aa = 50

In [16]:
num1 = 20
num2 = 30
num4 = 50
num5 = 60
num6 = 70
num8 = 1345
num9=20

In [21]:
man='남자'

In [24]:
%whos

Variable   Type    Data/Info
----------------------------
Aa         int     50
a          int     10
aA         int     30
email      str     axamun96@naver.com
hungry     str     배고파
name       str     현윤섭
num1       int     20
num2       int     30
num4       int     50
num5       int     60
num6       int     70
num8       int     1345
num9       int     20
phone      str     01057783694
print      str     출력하고싶어
woman      str     여자
x          int     100
y          int     200
z          int     300

In [ ]:
%reset

In [23]:
del(man)

# 정리
1. = : 변수할당
2. a = 100 : 100이라는 객체(값)을 a라는 변수에 할당했다.
3. id()  : id함수는 괄호 안에 있는 변수의 주소를 알준다.
4. del() : 괄호 안에 있는 변수를 지운다.
5. %whos : 할당된 변수 목록 확인
6. %reset : 변수 리셋

---

## Chapter 02 파이썬 프로그래밍의 기초, 자료형

-언어의 자료형을 이해하는 것이 중요  
-자료형은 프로그램의 기본 핵심 단위이며, 숫자, 문자열 등 자료 형태로 사용하는 모든 것  
-자료형을 이해하는 것이 프로그래밍의 기본

### 2-1) 숫자형

In [154]:
a=123
a=-278
a=0

In [62]:
a

0

In [65]:
4E2

400.0

In [153]:
a=(10+20+30)

In [142]:
type(a)

int

In [152]:
b

NameError: name 'b' is not defined

In [155]:
b=32

In [157]:
c = a+b

In [146]:
c

92

In [147]:
a*b

1920

In [148]:
a/b

1.875

In [163]:
print(c)
print(a-b)
print(a*b)
print(a/b)

32
-32
0
0.0

In [164]:
a=10

In [167]:
b=3

In [168]:
a**b

1000

In [169]:
a//b

3

In [171]:
a%b

1

##### type()함수 : 괄호 안에 있는 변수의 data type를 알려준다.

In [172]:
a = 3
b = 3.0
c = '3'

In [173]:
type(a)

int

In [174]:
type(b)

float

In [175]:
type(c)

str

### 2-2) 문자열 자료형

In [187]:
print("나는 말했다. '힘들어'")

나는 말했다. '힘들어'

In [188]:
print("나는 말했다. '힘들어'")

나는 말했다. '힘들어'

In [177]:
"나는 말했다. \"힘들어\""

'나는 말했다. "힘들어"'

In [179]:
"python is very easy"

'python is very easy'

In [186]:
"\



"python is very easy\" he says"

'"python is very easy" he says'

In [181]:
a= '"python is very easy." he says.'

In [182]:
a

'"python is very easy." he says.'

# 문제
이름, 전화번호, 주소를 변수에 할당하시오

In [228]:
N= '현윤섭'

In [229]:
T='01057783694'

In [230]:
A='경기도 부천시 옥길동 748-1'

In [231]:
%whos

Variable   Type    Data/Info
----------------------------
A          str     경기도 부천시 옥길동 748-1
N          str     현윤섭
T          str     01057783694

In [193]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [199]:
%whos

Variable   Type    Data/Info
----------------------------
A          str     경기도 부천시 옥길동 748-1
N          str     현윤섭
T          str     01057783694

In [201]:
print(N)

현윤섭

In [204]:
print(A)

경기도 부천시 옥길동 748-1

In [206]:
print(T)

01057783694

# 입출력문

## print문

In [235]:
name = '안녕하세요'
phone = '010-000-000'
print(name, phone)

안녕하세요 010-000-000

In [236]:
print("hello")

hello

In [237]:
names = 'Kim KunHee'
print(names)
print('Kim KunHee')

Kim KunHee
Kim KunHee

In [238]:
math_score= 77
science_score = 55
english_score = 66

In [239]:
print(math_score)
print(science_score)
print(english_score)

77
55
66

In [240]:
print(math_score, science_score, english_score)

77 55 66

In [242]:
print("내 수학점수는 : ", math_score)

내 수학점수는 :  77

In [246]:
print("내 수학점수는 : ",math_score, "입니다",
     "\n내 과학 점수는 : ", science_score,
     "\n내 영어 점수는 : ", english_score)

내 수학점수는 :  77
내 과학 점수는 :  55
내 영어 점수는 :  66

In [247]:
print("수학점수는 : {}, 과학점수는 {}, 영어점수는 {} 이다 "
      .format(math_score, science_score, english_score))

수학점수는 : 77, 과학점수는 55, 영어점수는 66 이다

In [254]:
print("수학점수는 : {1}\n과학점수는 : {2}\n영어점수는 :{0} 이다 "
      .format(math_score, science_score, english_score))

수학점수는 : 55
과학점수는 : 66
영어점수는 :77 이다

In [255]:
name = 'Sam-Kim'
age = 44
print("My name is {0} and {2} years old.".format(name,age))

IndexError: tuple index out of range

In [263]:
print('a',end='asfasdfasdfasdfasdfadsf')
print('b',end='asdfasdfasdfasdfasd|')

aasfasdfasdfasdfasdfadsfbasdfasdfasdfasdfasd|

In [265]:
print("안녕하세요", end=' ')
print("저는 홍길동입니다.")

안녕하세요 저는 홍길동입니다.

In [274]:
print('하이',end='asdufoasdufasdjflkasdj;lkfjiouqwejpcoruqweioru')
print('하이하이')
print

하이asdufoasdufasdjflkasdj;lkfjiouqwejpcoruqweioru하이하이

In [275]:
a= 10

In [277]:
a

10

In [276]:
print(a)
a
print(a)

10

In [266]:
id?

In [280]:
print?

## input문 입력문

In [283]:
name = input('이름을 입력하세요')

이름을 입력하세요김건희

In [284]:
name

'김건희'

In [285]:
math_score = input('수학 점수를 입력하세요')

수학 점수를 입력하세요80

In [286]:
math_score

'80'

### 문제
1) 이름, 이메일, 전화보호를 입력받아 변수에 저장하시오.

2) 입력받은 변수를 아래의 출력결과와 동일하게 출력하시오.  
```
이름을 입력하세요 : 홍길동

이메일을 입력하세요 : abc@gmail.com

전화번호 b를 입력하세요 : 010-1234-4321

입력해주셔서 감사합니다.

이름 : 홍길동
이메일 : abc@gmail.com
전화번호 : 010-1234-4321```

In [290]:
name = input("이름을 입력하세요 : ")
email = input('이메일을 입력하세요 : ')
phone = input('전화번호 b를 입력하세요 : ')
print()
print("입력해주셔서 감사합니다.")
print()
print("이름 : {0} \n이메일 : {1}\n전화번호 {2}"
     .format(name, email, phone))

이름을 입력하세요 : ㄱ;ㅁ갆,;
이메일을 입력하세요 : 이ㅏ리
전화번호 b를 입력하세요 : 이ㅏ리

입력해주셔서 감사합니다.

이름 : ㄱ;ㅁ갆,;
이메일 : 이ㅏ리
전화번호 이ㅏ리

In [296]:
score = int(input('점수를 입력하세요'))

점수를 입력하세요60

In [297]:
type(score)

int

## 문제 
```
세 과목(국어, 수학, 영어) 성적을 input() 함수로 입력받아 
세 과목의 총점과 평균을 구하는 프로그램을 작성하시오. 
```

In [301]:
# 점수입력
k_score = int(input("국어 성적을 입력하세요 : "))
m_score = int(input("수학 성정을 입력하세요 : "))
e_score = int(input("영어 성적을 입력하세요 : "))

ㅈtotal = k_score + m_score + e_score
#평균
mean = total/3

print()
print("입력받은 성적")
print('-'*15)
print("국어 성적 : {0}\n수학 성적 : {1}\n영어 성적 : {2}\n"
     .format(k_score, m_score, e_score))
print('-'*15)
print()
print('총점 : {0}\n평균 : {1}'
     .format(total, mean))

국어 성적을 입력하세요 : 11
수학 성정을 입력하세요 : 11
영어 성적을 입력하세요 : 11

입력받은 성적
---------------
국어 성적 : 11
수학 성적 : 11
영어 성적 : 11

---------------

총점 : 33
평균 : 11.0

## 문제 
```
input() 함수를 이용하여 원의 반지름을 입력받는다.
입력받은 반지름으로 원의 넓이와 원의 둘레를 구하시오.
원주율을 3.141592로 한다.
```

In [303]:
# 반지름 입력
r = int(input("반지름을 입력하세요"))
pie = 3.141592

# 원의 넓이
s = pie*(r**2)
# 원의 둘레
l = 2*pie*r

print("반지름 : {}".format(r))
print("둘레 : {}". format(l))
print("넓이 : {}".format(s))

반지름을 입력하세요5
반지름 : 5
둘레 : 31.0
넓이 : 77.5


### 2-3) 리스트 자료형

### 2-4) 튜플 자료형

### 2-5) 딕셔너리 자료형

### 2-6) 집합 자료형

### 2-7) 자료형의 참과 거짓

### 2-8) 자료형의 값을 저장하는 공간, 변수

## Chapter 03 프로그램의 구조를 쌓는다! 제어문