# 함수

### built in func

In [1]:
list1 = [1,2,3,4,555,6666]
tuple1 = (4,5,1,44,6666,77)
set1 = {444,55555,666666,7777777}

```
len()
max()
min()
sum()
sorted()
reversed()
```

In [8]:
print(len(list1), max(list1), min(list1), sum(list1), sorted(list1))
print(len(list1), max(tuple1), min(tuple1), sum(tuple1), sorted(tuple1))
print(len(set1), max(set1), min(set1), sum(set1), sorted(set1))

6 6666 1 7231 [1, 2, 3, 4, 555, 6666]
6 6666 1 6797 [1, 4, 5, 44, 77, 6666]
4 7777777 444 8500442 [444, 55555, 666666, 7777777]

### 사용자 정의 함수

In [9]:
def cal_sum(a, b):
    return a+b

In [12]:
cal_sum(10, 20)

30

In [13]:
def cal_sum(a, b):
    """2개의 변수를 입력받아 합을 리턴하는 함수"""
    result = a+b
    return result

In [14]:
cal_sum(10, 20)

30

In [15]:
def cal_div(a,b):
    result = a/b
    return result

In [16]:
cal_div(20, 3)

6.666666666666667

In [25]:
def cal_all(a, b, c, d, e):
    res1 = a+b+c+d+e
    res2 = -res1
    res3 = a*b*c*d*e
    print("sum : ",res1,"\n", res2,"\nmul : ", res3)
    return

In [26]:
cal_all(1,2,3,4,5)

sum :  15
 -15
mul :  120

In [36]:
def 자기소개서():
    print("안녕하세요 한인수입니다.")
    print("홍익대학교 컴퓨터공학과 재학중입니다.")

In [37]:
자기소개서()

안녕하세요 한인수입니다.
홍익대학교 컴퓨터공학과 재학중입니다.

In [51]:
def underbar():
    print("_"*30, "\n", "*"*30)

In [52]:
underbar()

______________________________
 ******************************

In [57]:
def calculate(kor, eng, math):
    total=kor+eng+math
    ave=total/3
    return ave

In [68]:
kor_score = int(input("국어 성적 : "))
eng_score = int(input("영어 성적 : "))
math_score = int(input("수학 성적 : "))

avg = calculate(kor_score, eng_score, math_score)
print("평균 : %0.3f" %avg)

국어 성적 : 90
영어 성적 : 70
수학 성적 : 0
평균 : 53.333

In [69]:
def cal_min(a, b):
    if a>b:
        min_val=b
    elif a<b:
        min_val=a
    else:
        min_val=a
    return min_val

In [71]:
print(cal_min(10, 20))
print(cal_min(15, 8))
print(cal_min(15, 15))

10
8
15

In [74]:
def cal_min2(a, b):
    if a>b:
        return b
    else:
        return a

In [75]:
print(cal_min2(10, 20))
print(cal_min2(15, 8))
print(cal_min2(15, 15))

10
8
15

In [76]:
def add_mul(x, y):
    sum1 = x+y
    mul = x*y
    return (sum1, mul)

In [77]:
m, n = add_mul(20, 15)
print(m, n)

35 300

In [79]:
type(add_mul(10, 20))

tuple

### inport를 이용해서 헤더파일처럼 불러오기

In [84]:
import hotso

In [87]:
hotso.hot_mul(10, 20, 30)

NameError: name 'C' is not defined

In [27]:
def test():
    b=30
    print(a, b)
    return

In [32]:
a=500
print(test())

500 30
None

In [33]:
def inc(a, step=1):
    return a+step

b=inc(10)
print(b)

c=inc(10, 50)
print(c)

11
60

In [41]:
def area(x, y):
    return x*y

In [42]:
a=area(10, 5)

In [43]:
b=area(x=4, y=5)

In [44]:
c=area(y=5, x=10)

In [45]:
d=area(10, y=5)

In [46]:
e=area(x=10, 5)

SyntaxError: positional argument follows keyword argument (<ipython-input-46-b2c939a879cd>, line 1)

In [53]:
def friends(*name):
    for n in name:
        nn=n+n
        print(nn)

In [54]:
names=['A', 'B', 'C', 'D', 'E']

In [55]:
friends(names)

['A', 'B', 'C', 'D', 'E', 'A', 'B', 'C', 'D', 'E']

In [57]:
value = lambda x, y, z:x+y+z

In [76]:
X = [[1,2,3],[2,3,4]]

In [79]:
X

[[1, 2, 3], [2, 3, 4]]

In [94]:
X=[1,3, 5, 7, 9]
result = filter(lambda x:x>5, X)
print(result)
list(result)

<filter object at 0x000001C12DC6B7F0>

[7, 9]

In [95]:
list(filter(lambda x:x%2==1, range(11)))

[1, 3, 5, 7, 9]

### 모듈

In [91]:
import math

In [96]:
math.pi

3.141592653589793

In [97]:
from math import pow

In [98]:
pow(2, 5)

32.0

In [99]:
from math import pi

In [100]:
pi

3.141592653589793

In [101]:
from math import pow, sqrt, trunc

In [102]:
print(sqrt(9), trunc(1.5), pow(2, 3))

3.0 1 8.0

In [103]:
from math import *

In [104]:
log2(1024)

10.0

In [105]:
import math as mt

In [106]:
print(mt.pow(3, 5))
print(mt.log2(1024))

243.0
10.0